name: Ping Render Server

on:
  workflow_dispatch:
  schedule:
    - cron: "*/12 * * * *" # every 12 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render app
        run: |
          curl -I --silent https://server-2h4x.onrender.com/health || echo "Ping failed"
